/* NOVOS ESTILOS */
body, html {
    background-color: antiquewhite;
 
}

body {
  float: center; 
  align-items: center;
  font-family: Arial, sans-serif;
  color: #000e;
  
}

#container {
  width: 100%;
  height: 0;
  margin: 0;
  float: left;
  background-color: rgb(34, 24, 21);
  text-align: center;
}

#page {
  display: center;
  justify-content: center;
  float: center;
  align-content: left
  text-align: center;
  

}



#topo {
  display: center;
  flex-direction: center;
  align-items: center;
  width: 100%;
  height: 0;
  justify-content: center;
}

#foto-topo {
  width: 100%;
  height: 0;
  margin: 0;
}

nav {
  width: 100%;
  height: 40px;
  background-color: #5D240A;

}
nav ul {
  list-style:none;
  margin:0px;
  padding:10px; 
}
nav ul li {
  display:inline-block; 
}
nav ul li a {
  font-size: 0.95em;
  text-decoration: none;
  color: #FFF;
  padding: 4px 20px;
}

nav ul li a:hover {
  background-color: #B4531A; 
}


.flex {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  float: flex;
  }

.flex > div {
  flex: 1 1 300px;
  margin: 10px;
}

img {
  
  display: center;
  width: 100%;
  height: 300px;
  margin: 0;
  
}


.rodape {
  float: center;
  background-color: darkgray;
  text-align: center;


  }

.quadros {
height: 200px;
align-items: auto;
display: flex;
}

